html, body {height:100%;}
html {display:table; width:100%;}
body {display:table-cell; text-align:center;}

body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 0;
  font-family: Trebuchet MS;
  display: flex;
  justify-content: center;
  // background-color: #b9b9b9;

  .wraper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header{
      width: 100%;
      height: 40px;
      line-height: 40px;
      background-color: #009CC4;
      color: white;
      display: flex;
      align-items: center;
      padding-left: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    #container{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      #svgContent{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b9b9b9;
      }

      #historyList{
        width: 500px;
        height: 100%;
        background: #535353;
        display: flex;
        flex-direction: column;
        border: 1px solid #444444;

        .title{
          width: 100%;
          height: 30px;
          line-height: 30px;
          background: #146082;
          color: white;
          display: flex;
          align-items: center;
          padding-left: 10px;
          font-size: 14px;
          font-weight: bold;
        }

        table {
          border-collapse: collapse;
          width: 100%;
          background-color: transparent;
          font-size: 13px;
          margin-top: 10px;

          th, td {
            border-right: 1px solid #9b9d9f;
            border-bottom: 1px solid #535353;
          }

          th{
            color: #ffffff !important;
            background: #474747 !important;
            border-color: #9b9d9f;
            padding: 6px;
          }

          td{
            color: #e0e0e0;
            background: #656565;
            padding: 4px;
          }
        }
      }
    }
  }
}